In [40]:
import datetime as dt
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import pandas_datareader as web
import mplfinance as mpf

# from pandas_datareader import data as pdr

In [41]:
company = 'AAPL'

start = dt.datetime(2015, 1, 1)
end = dt.datetime.now()

In [45]:
df = web.DataReader(company, 'stooq', start, end)

df

# df = pdr.get_data_yahoo('AAPL', start='2020-01-01', end='2022-01-01')

                Open      High       Low     Close        Volume
Date
2023-08-18  172.3000  175.1000  171.9600  174.4900  6.111034e+07
2023-08-17  177.1400  177.5054  173.4800  174.0000  6.606288e+07
2023-08-16  177.1300  178.5400  176.5000  176.5700  4.696486e+07
2023-08-15  178.8800  179.4800  177.0500  177.4500  4.362259e+07
2023-08-14  177.9700  179.6900  177.3050  179.4600  4.367563e+07
...              ...       ...       ...       ...           ...
2015-01-08   24.5810   25.2420   24.4564   25.1822  2.636629e+08
2015-01-07   24.1274   24.3437   24.0078   24.2521  1.780399e+08
2015-01-06   24.0028   24.1753   23.5441   23.9130  2.921906e+08
2015-01-05   24.3657   24.4435   23.7226   23.9110  2.855408e+08
2015-01-02   25.0645   25.0765   24.1593   24.6030  2.363928e+08

[2172 rows x 5 columns]