In [40]:
import datetime as dt
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import pandas_datareader as web
import mplfinance as mpf

In [41]:
company = 'AAPL'

start = dt.datetime(2015, 1, 1)
end = dt.datetime.now()

In [46]:
df = web.DataReader(company, 'stooq', start, end)

print(df.head())

              Open      High      Low   Close      Volume
Date
2023-08-18  172.30  175.1000  171.960  174.49  61110338.0
2023-08-17  177.14  177.5054  173.480  174.00  66062882.0
2023-08-16  177.13  178.5400  176.500  176.57  46964857.0
2023-08-15  178.88  179.4800  177.050  177.45  43622593.0
2023-08-14  177.97  179.6900  177.305  179.46  43675627.0

In [47]:
df = df[['Open', 'High', 'Low', 'Close']]

In [48]:
df.reset_index(inplace=True)
df['Date'] = df['Date'].map(mdates.date2num)

         Date      Open      High       Low     Close
0     19587.0  172.3000  175.1000  171.9600  174.4900
1     19586.0  177.1400  177.5054  173.4800  174.0000
2     19585.0  177.1300  178.5400  176.5000  176.5700
3     19584.0  178.8800  179.4800  177.0500  177.4500
4     19583.0  177.9700  179.6900  177.3050  179.4600
...       ...       ...       ...       ...       ...
2167  16443.0   24.5810   25.2420   24.4564   25.1822
2168  16442.0   24.1274   24.3437   24.0078   24.2521
2169  16441.0   24.0028   24.1753   23.5441   23.9130
2170  16440.0   24.3657   24.4435   23.7226   23.9110
2171  16437.0   25.0645   25.0765   24.1593   24.6030

[2172 rows x 5 columns]